* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Merriweather, Oswald;
  color: #CBBBA0;
  scroll-behavior: smooth;
}

.hero-banner {
  height: 100vh;
  background-image: url(/assets/img/bubble.png);
}

.hero-banner header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-banner header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-banner header nav a {
  text-transform: uppercase;
  font-size: 10px;
}

.hero-banner header nav a:not(:last-child) {
  margin-right: 65px;
}

.hero-banner header nav a .logo-menu {
  margin-top: 40px;
}

.hero-banner .container-text-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70vh;
  width: 100%;
}

.hero-banner .container-text-center .text-center {
  text-align: center;
}

.hero-banner .container-text-center .text-center p {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 32px;
}

.hero-banner .container-text-center .text-center .line {
  background: #CBBBA0;
  height: 2px;
  width: 280px;
  margin: auto;
  margin-top: 19px;
  margin-bottom: 30px;
}

.hero-banner .scroll-button {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-banner .scroll-button .scroll {
  margin-top: 11px;
  font-size: 13px;
}

.hero-banner .scroll-button .scroll .arrow {
  font-family: Oswald;
  font-size: 20px;
  font-weight: lighter;
}

main {
  background: #121212;
}

main #products {
  padding: 180px 0;
}

main #products .product-container {
  border: 6px solid #CBBBA0;
  padding: 0 70px;
  width: 40%;
  text-align: center;
}

main #products .product-container span {
  font-size: 40px;
  display: block;
}

main #recipe .title-recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 120px;
}

main #recipe .title-recipe h2 {
  position: absolute;
  top: 37%;
}

main #recipe .recipe-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #recipe .recipe-content-container .recipe-content-left,
main #recipe .recipe-content-container .recipe-content-right {
  text-align: center;
  width: 30%;
}

main #recipe .recipe-content-container .recipe-content-left {
  margin-right: 5%;
}

main #degustation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/assets/img/recipe-bg.svg);
  margin: 0;
  padding: 10% 15%;
}

main #degustation .degustation-left {
  width: 50%;
}

main #degustation .degustation-left p {
  font-size: 24px;
  color: #000;
  font-weight: lighter;
}

main #degustation .degustation-left img {
  -webkit-transform: translate(60%, 80%);
          transform: translate(60%, 80%);
}

main #degustation .degustation-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin-top: 15%;
}

main #degustation .degustation-right i {
  color: #000;
  font-size: 50px;
}

main #degustation .degustation-right .degustation-inside-right a,
main #degustation .degustation-right .degustation-inside-right p {
  color: #000;
  font-family: Oswald;
  font-size: 20px;
}

main #degustation .degustation-right .degustation-inside-right h4 {
  margin-bottom: 20px;
}

main #degustation .degustation-right .degustation-inside-left {
  margin-right: 30px;
}

main .align-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

main .align-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

main .recipe-content-container h3,
main #products h3 {
  border-top: 2px solid #CBBBA0;
  border-bottom: 2px solid #CBBBA0;
  padding: 15px 0;
}

main .recipe-content-container p,
main #products p {
  padding: 45px 0;
  border-bottom: 2px solid #CBBBA0;
  margin-bottom: 17px;
}

#contact {
  background: url(/assets/img/contact-bg.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 10% 15%;
}

#contact .contact-left {
  width: 50%;
}

#contact .contact-left p {
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 50px;
}

#contact .contact-right {
  width: 45%;
}

#contact .contact-right form {
  margin-top: 30%;
}

#contact .contact-right form input,
#contact .contact-right form textarea {
  background: none;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  border-bottom: 2px solid #CBBBA0;
  color: #CBBBA0;
  margin-top: 24px;
  padding-bottom: 8px;
  font-size: 20px;
  font-family: Oswald;
}

#contact .contact-right form textarea::-webkit-input-placeholder, #contact .contact-right form input::-webkit-input-placeholder {
  color: #CBBBA0;
}

#contact .contact-right form textarea:-ms-input-placeholder, #contact .contact-right form input:-ms-input-placeholder {
  color: #CBBBA0;
}

#contact .contact-right form textarea::-ms-input-placeholder, #contact .contact-right form input::-ms-input-placeholder {
  color: #CBBBA0;
}

#contact .contact-right form textarea::placeholder, #contact .contact-right form input::placeholder {
  color: #CBBBA0;
}

#contact .contact-right form input[type=submit] {
  border: none;
  text-align: left;
}

#contact .big-title, #contact span {
  color: #CBBBA0;
}

.fixed-logo {
  position: fixed;
  left: 55px;
  top: 55px;
}

h2 {
  color: #000000;
  font-size: 37px;
  text-transform: uppercase;
}

h2.big-title {
  font-size: 72px;
  font-family: Oswald;
  font-weight: lighter;
  text-transform: none;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
  text-transform: uppercase;
  font-family: Merriweather;
}

h4 {
  font-size: 24px;
  color: #000;
  font-weight: lighter;
  font-family: Oswald;
}

p {
  font-size: 19px;
  font-family: Oswald;
}

.discover-button {
  text-transform: uppercase;
  font-family: Oswald;
  font-weight: lighter;
  letter-spacing: 4px;
  font-size: 23px;
}

section {
  margin: 0 15%;
}

.strong {
  font-weight: bold;
  color: #000;
}
/*# sourceMappingURL=style.css.map */