@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Merriweather, Oswald;
  color: #cbbba0;
  scroll-behavior: smooth;
}

.hero-banner {
  height: 100vh;
  background-image: url(/assets/img/bubble.png), url(/assets/img/corners.svg);
}

.hero-banner header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-banner header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-banner header nav a {
  text-transform: uppercase;
  font-size: 10px;
}

.hero-banner header nav a:not(:last-child) {
  margin-right: 3vw;
}

.hero-banner header nav a .logo-menu {
  margin-top: 40px;
}

.hero-banner .container-text-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70vh;
  width: 100%;
}

.hero-banner .container-text-center .text-center {
  text-align: center;
}

.hero-banner .container-text-center .text-center p {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 32px;
}

.hero-banner .container-text-center .text-center .line {
  background: #cbbba0;
  height: 2px;
  width: 280px;
  margin: auto;
  margin-top: 19px;
  margin-bottom: 30px;
}

.hero-banner .scroll-button {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-banner .scroll-button .scroll {
  margin-top: 11px;
  font-size: 13px;
}

.hero-banner .scroll-button .arrow {
  font-family: Oswald;
  font-size: 20px;
  font-weight: lighter;
}

.hero-banner .scroll-button a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero-banner .scroll-button a:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3%;
}

.mobile-header i {
  font-size: 30px;
  margin-left: 10%;
  cursor: pointer;
}

.mobile-header .bg-header-expand {
  background: #cbbba0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.mobile-header .bg-header-expand nav a {
  font-size: 30px;
  text-transform: uppercase;
  color: black;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-header .bg-header-expand i {
  font-size: 60px;
  color: #000;
}

@media (max-width: 768px) {
  .fixed-logo {
    display: none;
  }
  .hero-banner header {
    display: none !important;
  }
  .hero-banner .container-text-center p {
    width: 80% !important;
  }
}

@media (max-width: 480px) {
  .hero-banner .container-text-center p {
    width: 90% !important;
  }
}

@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}

main {
  background: #121212;
}

main #products {
  background: url(/assets/img/beer-cpas.png) no-repeat, url(/assets//img/beer-caps-products.png) no-repeat, url(/assets/img/produits.png) no-repeat, url(/assets//img/pattern-logo.png) no-repeat, url(/assets//img/beer_glass_low.png) no-repeat, url(/assets/img/carte-postal.png) no-repeat, url(/assets/img/Beer-Cap-Mockup.png) no-repeat, url(/assets/img/photos-souvenir-right.png) no-repeat;
  background-position: -40px 180px, 115% 180px, -120px -50px, 110% 43%, 113% 33%, -23% 68%, -5% 85%, 105% 90%;
  padding: 180px 15%;
}

main #products .product-container {
  border: 6px solid #cbbba0;
  padding: 0 70px;
  width: 40%;
  text-align: center;
}

main #products .product-container span {
  font-size: 40px;
  display: block;
}

main #products .align-left {
  margin-top: 75%;
}

main #recipe {
  background: url(/assets/img/houblon.png) no-repeat, url(/assets/img/blé.png) no-repeat;
  background-position: -17% 0, 165% 0;
  padding-top: 16%;
  padding-bottom: 16%;
}

main #recipe .title-recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 120px;
}

main #recipe .title-recipe h2 {
  position: absolute;
  top: 37%;
}

main #recipe .recipe-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #recipe .recipe-content-container .recipe-content-left,
main #recipe .recipe-content-container .recipe-content-right {
  text-align: center;
  width: 20%;
}

main #recipe .recipe-content-container .recipe-content-left {
  margin-right: 5%;
}

main #degustation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/assets/img/beer-caps.png) no-repeat, url(/assets/img/opener.png) no-repeat, url(/assets/img/recipe-bg.svg) no-repeat;
  background-position: 50% -9%, 1% 85%, 0 0;
  margin: 0;
  padding: 10% 15%;
}

main #degustation .degustation-left {
  width: 50%;
}

main #degustation .degustation-left p {
  font-size: 24px;
  color: #000;
  font-weight: lighter;
}

main #degustation .degustation-left img:first-child {
  -webkit-transform: translate(50%, 95%);
          transform: translate(50%, 95%);
}

main #degustation .degustation-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin-top: 15%;
}

main #degustation .degustation-right i {
  color: #000;
  font-size: 50px;
}

main #degustation .degustation-right .degustation-inside-right a,
main #degustation .degustation-right .degustation-inside-right p {
  color: #000;
  font-family: Oswald;
  font-size: 20px;
}

main #degustation .degustation-right .degustation-inside-right h4 {
  margin-bottom: 20px;
}

main #degustation .degustation-right .degustation-inside-left {
  margin-right: 30px;
}

main .align-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

main .align-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

main .recipe-content-container h3,
main #products h3 {
  border-top: 2px solid #cbbba0;
  border-bottom: 2px solid #cbbba0;
  padding: 15px 0;
}

main .recipe-content-container p,
main #products p {
  padding: 45px 0;
  border-bottom: 2px solid #cbbba0;
  margin-bottom: 17px;
}

@media (max-width: 1440px) {
  main #products {
    background-position: 64px 180px, -40% 632px, 335px -273px, 120% 55%, -765% 50%, 500% 68%, -1% 100%, 345% 113% !important;
  }
  main #recipe {
    background-position: -50% 0, 300% 0;
  }
  main #degustation {
    background-position: 50% -9%, -8% 110%, 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #degustation .degustation-left {
    width: 100%;
  }
  main #degustation .degustation-right {
    width: 100%;
    margin-top: 0;
    margin-left: 40%;
  }
}

@media (max-width: 768px) {
  #products {
    background-position: -40px 0px, 0% 0px, -0px -50px, 0% 55%, 3% 4 2%, -0% 68%, -5% 85%, 0% 100% !important;
  }
  #products .product-container {
    width: 100% !important;
  }
  #recipe {
    background-position: 536% 61%, 351% 0 !important;
  }
  #recipe .recipe-content-container .recipe-content-left,
  #recipe .recipe-content-container .recipe-content-right {
    text-align: center;
    width: 30% !important;
  }
}

@media (max-width: 480px) {
  #products .product-container {
    padding: 0 20px !important;
  }
  #recipe {
    background-position: 536% 61%, 351% 0 !important;
  }
  #recipe .title-recipe {
    margin-bottom: 40px !important;
  }
  #recipe .title-recipe img {
    width: 80%;
  }
  #recipe .title-recipe h2 {
    font-size: 22px;
  }
  #recipe .recipe-content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #recipe .recipe-content-container .recipe-content-left,
  #recipe .recipe-content-container .recipe-content-right {
    text-align: center;
    width: 80% !important;
  }
  #recipe .recipe-content-container .recipe-content-left {
    margin-right: 0 !important;
    margin-bottom: 50px;
  }
  #degustation {
    background-position: 50% -9%, 1300% 108%, 0px 0 !important;
  }
  #degustation .degustation-left {
    margin-top: 30%;
  }
  #degustation .degustation-left h2.big-title {
    font-size: 50px;
  }
  #degustation .degustation-left img:first-child {
    -webkit-transform: translate(10%, 9%) !important;
            transform: translate(10%, 9%) !important;
  }
  #degustation .degustation-right {
    margin-top: 10% !important;
  }
}

#contact {
  background: url(/assets/img/contact-bg.jpg) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 10% 15%;
}

#contact .contact-left {
  width: 50%;
}

#contact .contact-left p {
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 50px;
}

#contact .contact-right {
  width: 45%;
}

#contact .contact-right form {
  margin-top: 15%;
}

#contact .contact-right form input,
#contact .contact-right form textarea {
  background: none;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  border-bottom: 2px solid #cbbba0;
  color: #cbbba0;
  margin-top: 24px;
  padding-bottom: 8px;
  font-size: 20px;
  font-family: Oswald;
}

#contact .contact-right form textarea::-webkit-input-placeholder,
#contact .contact-right form input::-webkit-input-placeholder {
  color: #cbbba0;
}

#contact .contact-right form textarea:-ms-input-placeholder,
#contact .contact-right form input:-ms-input-placeholder {
  color: #cbbba0;
}

#contact .contact-right form textarea::-ms-input-placeholder,
#contact .contact-right form input::-ms-input-placeholder {
  color: #cbbba0;
}

#contact .contact-right form textarea::placeholder,
#contact .contact-right form input::placeholder {
  color: #cbbba0;
}

#contact .contact-right form input[type="submit"] {
  border: none;
  text-align: left;
}

#contact .big-title,
#contact span {
  color: #cbbba0;
}

@media (max-width: 768px) {
  #contact .contact-right {
    margin-left: 5%;
  }
}

@media (max-width: 480px) {
  #contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .contact-right {
    width: 100%;
  }
  #contact .contact-left {
    width: 100%;
  }
  #contact .contact-left h2.big-title {
    font-size: 50px;
  }
}

footer {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 414px;
}

footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

footer .social-media i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  border: 1px solid #cbbba0;
  height: 35px;
  width: 35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .social-media i:not(:last-child) {
  margin-right: 20px;
}

footer .social-media i:hover {
  background: #cbbba0;
  color: #000;
}

footer nav {
  margin-bottom: 20px;
}

footer nav a {
  text-transform: uppercase;
  font-size: 13px;
}

footer nav a:not(:last-child) {
  border-right: 1px solid #cbbba0;
  padding-right: 23px;
}

footer nav a:not(:first-child) {
  padding-left: 23px;
}

footer p {
  font-size: 10px;
}

@media (max-width: 768px) {
  footer nav {
    text-align: center;
  }
}

@media (max-width: 480px) {
  footer p {
    text-align: center;
    width: 80%;
  }
}

.fixed-logo {
  position: fixed;
  left: 55px;
  top: 55px;
}

h2 {
  color: #000000;
  font-size: 37px;
  text-transform: uppercase;
}

h2.big-title {
  font-size: 72px;
  font-family: Oswald;
  font-weight: lighter;
  text-transform: none;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
  text-transform: uppercase;
  font-family: Merriweather;
}

h4 {
  font-size: 24px;
  color: #000;
  font-weight: lighter;
  font-family: Oswald;
}

p {
  font-size: 19px;
  font-family: Oswald;
}

.discover-button {
  text-transform: uppercase;
  font-family: Oswald;
  font-weight: lighter;
  letter-spacing: 4px;
  font-size: 23px;
}

.strong {
  font-weight: bold;
  color: #000;
}

.display-none {
  display: none;
}
/*# sourceMappingURL=style.css.map */