.hero-banner {
  height: 100vh;
  background-image: url(/assets/img/bubble.png), url(/assets/img/corners.svg);

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-transform: uppercase;
        font-size: 10px;
        &:not(:last-child) {
          margin-right: 3vw;
        }
        .logo-menu {
          margin-top: 40px;
        }
      }
    }
  }

  .container-text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    .text-center {
      text-align: center;

      p {
        width: 40%;
        margin: 0 auto;
        // text-align: left;
        margin-bottom: 32px;
      }

      .line {
        background: $mainColor;
        height: 2px;
        width: 280px;
        margin: auto;
        margin-top: 19px;
        margin-bottom: 30px;
      }
    }
  }

  .scroll-button {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .scroll {
      margin-top: 11px;
      font-size: 13px;
    }
    .arrow {
      font-family: Oswald;
      font-size: 20px;
      font-weight: lighter;
    }

    a {
      transition: 0.5s;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
}