main {
  background: #121212;
  #products {
    background: url(/assets/img/beer-cpas.png) no-repeat,
      url(/assets//img/beer-caps-products.png) no-repeat,
      url(/assets/img/produits.png) no-repeat,
      url(/assets//img/pattern-logo.png) no-repeat,
      url(/assets//img/beer_glass_low.png) no-repeat,
      url(/assets/img/carte-postal.png) no-repeat,
      url(/assets/img/Beer-Cap-Mockup.png) no-repeat,
      url(/assets/img/photos-souvenir-right.png) no-repeat;
    background-position: -40px 180px, 115% 180px, -120px -50px, 110% 43%,
      113% 33%, -23% 68%, -5% 85%, 105% 90%;
    padding: 180px 15%;
    .product-container {
      border: 6px solid $mainColor;
      padding: 0 70px;
      width: 40%;
      text-align: center;

      span {
        font-size: 40px;
        display: block;
      }
    }
    .align-left {
      margin-top: 75%;
    }
  }

  #recipe {
    background: url(/assets/img/houblon.png) no-repeat,
      url(/assets/img/blé.png) no-repeat;
    background-position: -17% 0, 165% 0;
    padding-top: 16%;
    padding-bottom: 16%;
    .title-recipe {
      display: flex;
      justify-content: center;
      position: relative;
      margin-bottom: 120px;

      h2 {
        position: absolute;
        top: 37%;
      }
    }

    .recipe-content-container {
      display: flex;
      justify-content: center;

      .recipe-content-left,
      .recipe-content-right {
        text-align: center;
        width: 20%;
      }

      .recipe-content-left {
        margin-right: 5%;
      }
    }
  }

  #degustation {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/assets/img/beer-caps.png) no-repeat,
      url(/assets/img/opener.png) no-repeat,
      url(/assets/img/recipe-bg.svg) no-repeat;
    background-position: 50% -9%, 1% 85%, 0 0;
    margin: 0;
    padding: 10% 15%;
    .degustation-left {
      width: 50%;

      p {
        font-size: 24px;
        color: #000;
        font-weight: lighter;
      }

      img {
        &:first-child {
          transform: translate(50%, 95%);
        }
      }
    }

    .degustation-right {
      display: flex;
      justify-content: center;
      width: 50%;
      margin-top: 15%;

      i {
        color: #000;
        font-size: 50px;
      }

      .degustation-inside-right {
        a,
        p {
          color: #000;
          font-family: Oswald;
          font-size: 20px;
        }

        h4 {
          margin-bottom: 20px;
        }
      }

      .degustation-inside-left {
        margin-right: 30px;
      }
    }
  }

  .align-right {
    display: flex;
    justify-content: end;
  }

  .align-left {
    display: flex;
    justify-content: baseline;
  }

  .recipe-content-container,
  #products {
    h3 {
      border-top: 2px solid $mainColor;
      border-bottom: 2px solid $mainColor;
      padding: 15px 0;
    }

    p {
      padding: 45px 0;
      border-bottom: 2px solid $mainColor;
      margin-bottom: 17px;
    }
  }
}

// RESPONSIVE

@media (max-width: $breakpoint-desktop) {
  main {
    #products {
      background-position: 64px 180px, -40% 632px, 335px -273px, 120% 55%,
        -765% 50%, 500% 68%, -1% 100%, 345% 113% !important;
    }

    #recipe {
      background-position: -50% 0, 300% 0;
    }

    #degustation {
      background-position: 50% -9%, -8% 110%, 0 0;
      flex-direction: column;

      .degustation-left {
        width: 100%;
      }

      .degustation-right {
        width: 100%;
        margin-top: 0;
        margin-left: 40%;
      }
    }
  }
}

// RESPONSIVE

@media (max-width: $breakpoint-tablet) {
  #products {
    background-position: -40px 0px, 0% 0px, -0px -50px, 0% 55%, 3% 4 2%, -0% 68%,
      -5% 85%, 0% 100% !important;
    .product-container {
      width: 100% !important;
    }
  }

  #recipe {
    background-position: 536% 61%, 351% 0 !important;
    .recipe-content-container {
      .recipe-content-left,
      .recipe-content-right {
        text-align: center;
        width: 30% !important;
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  #products {
    .product-container {
      padding: 0 20px !important;
    }
  }

  #recipe {
    .title-recipe {
      margin-bottom: 40px !important;

      img {
        width: 80%;
      }

      h2 {
        font-size: 22px;
      }
    }
    background-position: 536% 61%, 351% 0 !important;
    .recipe-content-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .recipe-content-left,
      .recipe-content-right {
        text-align: center;
        width: 80% !important;
      }

      .recipe-content-left {
        margin-right: 0 !important;
        margin-bottom: 50px;
      }
    }
  }

  #degustation {
    background-position: 50% -9%, 1300% 108%, 0px 0 !important;
    .degustation-left {
      margin-top: 30%;
      h2.big-title {
        font-size: 50px;
      }

      img {
        &:first-child {
          transform: translate(10%, 9%) !important;
        }
      }
    }

    .degustation-right {
      margin-top: 10% !important;
    }
  }
}
