// Style général

@import "variable";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Merriweather, Oswald;
  color: $mainColor;
  scroll-behavior: smooth;
}

@import "hero-banner";
@import "main";
@import "contact";

.fixed-logo {
  position: fixed;
  left: 55px;
  top: 55px;
}

h2 {
  color: #000000;
  font-size: 37px;
  text-transform: uppercase;
}

h2.big-title {
  font-size: 72px;
  font-family: Oswald;
  font-weight: lighter;
  text-transform: none;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
  text-transform: uppercase;
  font-family: Merriweather;
}

h4 {
  font-size: 24px;
  color: #000;
  font-weight: lighter;
  font-family: Oswald;
}

p {
  font-size: 19px;
  font-family: Oswald;
}

.discover-button {
  text-transform: uppercase;
  font-family: Oswald;
  font-weight: lighter;
  letter-spacing: 4px;
  font-size: 23px;
  // clip-path: url(#buttonDiscover);
}

section {
  margin: 0 15%;
}

.strong {
  font-weight: bold;
  color: #000;
}